@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*----------------header*/

.bg-logo {
    background: url("../images/cover2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
     transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.heading {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}
.heading-info{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
    
}